<div class="container">
  <br/>
  <header>
  <nav>
    <div class="btn-group">
      <a routerLink="welcome" class="btn btn-sm btn-success">Welocome</a>
      <a routerLink="help" class="btn btn-sm btn-success">Help</a>
      <a routerLink="business"  class="btn btn-sm btn-success">Business</a>
      <a routerLink="vendor"  class="btn btn-sm btn-success">Vendor</a>
      <a  class="btn btn-sm btn-success">Test</a>
      <a  class="btn btn-sm btn-success">Test</a>
    </div>
  </nav>
  </header>
  <hr/>
    <section>
      <h1>Welcome to Variety Shop</h1>
      <p><small>Here you can control the complete app. It is the console to control.</small></p>
      <span>Request Served : {{requestServed}}</span> | <a href="#" (click)="updateReqNo()">Update Token</a>
      <app-common-alert></app-common-alert>
      <hr/>
      <div>
        <router-outlet>
          </router-outlet>
      </div>
    </section>


  <footer>
  </footer>
</div>